# Практическое задание к уроку 2
Исполнитель: Васильев А.

Продолжим обработку данных с Твиттера. 

#### Задания:
1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
 * Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
 * Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
 * Исключим стоп-слова с помощью stop_words='english'. 
 * Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().
 
2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
 * Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
 * Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
 * Исключим стоп-слова с помощью stop_words='english'.
 * Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().
 
3. Проверьте ваши векторайзеры на корпусе который использовали на вебинаре, составьте таблицу метод векторизации и скор который вы получили (в методах векторизации по изменяйте параметры что бы добиться лучшего скора) обратите внимание как падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на качество сделайте выводы

In [18]:
import pandas as pd
import numpy as np
# import re
# import matplotlib.pyplot as plt
# import seaborn as sns
# import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
# import os
import pickle

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
with open('combine_df.pickle', 'rb') as f:
    combine_df = pickle.load(f)

In [3]:
combine_df = combine_df.set_index('id')
combine_df.head()

,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
id,,,,,,
1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

### 1. Использую CountVectorizer для создания мешков слов

In [4]:
c_vec = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

#### 1) 'tweet_stemmed'

In [12]:
bow_tweet_stemmed_c_vec = c_vec.fit_transform([' '.join(sent) for sent in combine_df.tweet_stemmed])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_stemmed_c_vec.toarray(), columns = c_vec.get_feature_names()).sample(5)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
10222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15028,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 2) 'tweet_lemmatized'

In [13]:
bow_tweet_lemmatized_c_vec = c_vec.fit_transform([' '.join(sent) for sent in combine_df.tweet_lemmatized])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_lemmatized_c_vec.toarray(), columns = c_vec.get_feature_names()).sample(5)

,able,absolutely,account,act,action,actor,actually,adapt,add,adult,...,year,yes,yesterday,yo,yoga,york,young,youtube,yr,yummy
36319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3392,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36583,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13659,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 2. Использую CountVectorizer для создания мешков слов

In [7]:
tf_vec = TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')

#### 1) 'tweet_stemmed'

In [14]:
bow_tweet_stemmed_tf_vec =tf_vec.fit_transform([' '.join(sent) for sent in combine_df.tweet_stemmed])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_stemmed_tf_vec.toarray(), columns = tf_vec.get_feature_names()).sample(5)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
4632,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
41276,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
11447,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
20846,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
39375,0.470281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.475669,0.0

#### 2) 'tweet_lemmatized'

In [15]:
bow_tweet_lemmatized_tf_vec = tf_vec.fit_transform([' '.join(sent) for sent in combine_df.tweet_lemmatized])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_lemmatized_tf_vec.toarray(), columns = tf_vec.get_feature_names()).sample(5)

,able,absolutely,account,act,action,actor,actually,adapt,add,adult,...,year,yes,yesterday,yo,yoga,york,young,youtube,yr,yummy
45356,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38309,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48811,0.0,0.0,0.844688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23134,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27423,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3.

In [10]:
# Загружаю данные
data = open('corpus').read()
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))

# создаю датафрейм
corpus_df = pd.DataFrame()
corpus_df['text'] = texts
corpus_df['label'] = labels
corpus_df.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [11]:
X_train, X_valid, y_train, y_valid = train_test_split(corpus_df['text'], corpus_df['label'])

# labelEncode целевую переменную
encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_valid = encoder.fit_transform(y_valid)

In [31]:
# CountVectorizer
X_train_count_vec =  c_vec.transform(X_train)
X_valid_count_vec =  c_vec.transform(X_valid)

clf_count = LogisticRegression(max_iter=200)
clf_count.fit(X_train_count_vec, y_train)
preds_count = clf_count.predict(X_valid_count_vec)

accuracy_score(y_valid, preds_count)

0.7736

In [34]:
# CountVectorizer
X_train_tfidf_vec = tf_vec.transform(X_train)
X_valid_tfidf_vec = tf_vec.transform(X_valid)

clf_tfidf = LogisticRegression()
clf_tfidf.fit(X_train_tfidf_vec, y_train)
preds_tfidf = clf_tfidf.predict(X_valid_count_vec)

accuracy_score(y_valid, preds_tfidf)

0.7792