# Практическое задание к уроку 2
Исполнитель: Васильев А.

Продолжим обработку данных с Твиттера. 

#### Задания:
1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
 * Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
 * Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
 * Исключим стоп-слова с помощью stop_words='english'. 
 * Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().
 
2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
 * Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
 * Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
 * Исключим стоп-слова с помощью stop_words='english'.
 * Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().
 
3. Проверьте ваши векторайзеры на корпусе который использовали на вебинаре, составьте таблицу метод векторизации и скор который вы получили (в методах векторизации по изменяйте параметры что бы добиться лучшего скора) обратите внимание как падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на качество сделайте выводы

In [1]:
import pandas as pd
import numpy as np
# import re
# import matplotlib.pyplot as plt
# import seaborn as sns
# import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
# import os
import pickle

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
with open('combine_df.pickle', 'rb') as f:
    combine_df = pickle.load(f)

In [3]:
combine_df = combine_df.set_index('id')
combine_df.head()

,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
id,,,,,,
1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thanks, lyft, credit, use, cause, offer, whee..."
3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
4,0.0,model love you take with you all the time in ur,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

### 1. Использую CountVectorizer для создания мешков слов

#### 1) 'tweet_stemmed'

In [4]:
c_vec_st = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [5]:
bow_tweet_stemmed_c_vec = c_vec_st.fit_transform([' '.join(sent) for sent in combine_df.tweet_stemmed])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_stemmed_c_vec.toarray(), columns = c_vec_st.get_feature_names()).sample(5)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
33084,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32311,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45322,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 2) 'tweet_lemmatized'

In [6]:
c_vec_lm = CountVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [7]:
bow_tweet_lemmatized_c_vec = c_vec_lm.fit_transform([' '.join(sent) for sent in combine_df.tweet_lemmatized])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_lemmatized_c_vec.toarray(), columns = c_vec_lm.get_feature_names()).sample(5)

,able,absolutely,account,act,action,actor,actually,adapt,add,adult,...,year,yes,yesterday,yo,yoga,york,young,youtube,yr,yummy
29706,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47342,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36617,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 2. Использую CountVectorizer для создания мешков слов

#### 1) 'tweet_stemmed'

In [8]:
tf_vec_st = TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [9]:
bow_tweet_stemmed_tf_vec =tf_vec_st.fit_transform([' '.join(sent) for sent in combine_df.tweet_stemmed])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_stemmed_tf_vec.toarray(), columns = tf_vec_st.get_feature_names()).sample(5)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
23125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.617422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27539,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39510,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 2) 'tweet_lemmatized'

In [10]:
tf_vec_lm = TfidfVectorizer(max_df=0.9, max_features=1000, stop_words='english')

In [11]:
bow_tweet_lemmatized_tf_vec = tf_vec_lm.fit_transform([' '.join(sent) for sent in combine_df.tweet_lemmatized])
# Обображаю Bag-of-Words как DataFrame
pd.DataFrame(bow_tweet_lemmatized_tf_vec.toarray(), columns = tf_vec_lm.get_feature_names()).sample(5)

,able,absolutely,account,act,action,actor,actually,adapt,add,adult,...,year,yes,yesterday,yo,yoga,york,young,youtube,yr,yummy
46376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46331,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25216,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3.

In [12]:
# Загружаю данные
data = open('corpus').read()
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))

# создаю датафрейм
corpus_df = pd.DataFrame()
corpus_df['text'] = texts
corpus_df['label'] = labels
corpus_df.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [13]:
X_train, X_valid, y_train, y_valid = train_test_split(corpus_df['text'], corpus_df['label'])

# labelEncode целевую переменную
encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_valid = encoder.fit_transform(y_valid)

In [14]:
# CountVectorizer (stemmed)
X_train_count_vec_st =  c_vec_st.transform(X_train)
X_valid_count_vec_st =  c_vec_st.transform(X_valid)

clf_count_st = LogisticRegression(max_iter=200)
clf_count_st.fit(X_train_count_vec_st, y_train)
preds_count_st = clf_count_st.predict(X_valid_count_vec_st)

accuracy_score(y_valid, preds_count_st)

0.7376

In [15]:
# CountVectorizer (lemmatized)
X_train_count_vec_lm =  c_vec_lm.transform(X_train)
X_valid_count_vec_lm =  c_vec_lm.transform(X_valid)

clf_count_lm = LogisticRegression(max_iter=200)
clf_count_lm.fit(X_train_count_vec_lm, y_train)
preds_count_lm = clf_count_st.predict(X_valid_count_vec_lm)

accuracy_score(y_valid, preds_count_lm)

0.5456

In [16]:
# CountVectorizer (stemmed)
X_train_tfidf_vec_st = tf_vec_st.transform(X_train)
X_valid_tfidf_vec_st = tf_vec_st.transform(X_valid)

clf_tfidf_st = LogisticRegression()
clf_tfidf_st.fit(X_train_tfidf_vec_st, y_train)
preds_tfidf_st = clf_tfidf_st.predict(X_valid_count_vec_st)

accuracy_score(y_valid, preds_tfidf_st)

0.7448

In [17]:
# CountVectorizer (lemmatized)
X_train_tfidf_vec_lm = tf_vec_lm.transform(X_train)
X_valid_tfidf_vec_lm = tf_vec_lm.transform(X_valid)

clf_tfidf_lm = LogisticRegression()
clf_tfidf_lm.fit(X_train_tfidf_vec_lm, y_train)
preds_tfidf_lm = clf_tfidf_lm.predict(X_valid_count_vec_lm)

accuracy_score(y_valid, preds_tfidf_lm)

0.776

GRID SEARCH

In [19]:
from itertools import product

In [29]:
max_df_list = [0.8, 0.9, 1.0]
max_features_list = [500, 800, 1000, 2000, 3000, 4000, 5000]
min_df_list = [1, 2, 3]

In [27]:
CountVectorizer?

In [33]:
%%time
result_list = []
for max_df, max_features, min_df in product(max_df_list, max_features_list, min_df_list):
    c_vec_st_ = CountVectorizer(max_df=max_df, max_features=max_features, 
                                min_df=min_df, stop_words='english')
    c_vec_st_.fit([' '.join(sent) for sent in combine_df.tweet_stemmed])
    X_train_count_vec_st_ =  c_vec_st_.transform(X_train)
    X_valid_count_vec_st_ =  c_vec_st_.transform(X_valid)
    clf_count_st_ = LogisticRegression(max_iter=200)
    clf_count_st_.fit(X_train_count_vec_st_, y_train)
    preds_count_st_ = clf_count_st_.predict(X_valid_count_vec_st_)
    result_list.append({'max_features': max_features,
                        'max_df': max_df, 'min_df': min_df, 
                        'vect_type': 'count_stemmed', 
                        'accuracy': accuracy_score(y_valid, preds_count_st_)})
    
    c_vec_lm_ = CountVectorizer(max_df=max_df, max_features=max_features, 
                                min_df=min_df, stop_words='english')
    c_vec_lm_.fit([' '.join(sent) for sent in combine_df.tweet_lemmatized])
    X_train_count_vec_lm_ =  c_vec_lm_.transform(X_train)
    X_valid_count_vec_lm_ =  c_vec_lm_.transform(X_valid)
    clf_count_lm_ = LogisticRegression(max_iter=200)
    clf_count_lm_.fit(X_train_count_vec_lm_, y_train)
    preds_count_lm_ = clf_count_lm_.predict(X_valid_count_vec_lm_)
    result_list.append({'max_features': max_features,
                        'max_df': max_df, 'min_df': min_df, 
                        'vect_type': 'count_lemmatized', 
                        'accuracy': accuracy_score(y_valid, preds_count_lm_)})
    
    tf_vec_st_ = TfidfVectorizer(max_df=max_df, max_features=max_features, 
                                 min_df=min_df, stop_words='english')
    tf_vec_st_.fit([' '.join(sent) for sent in combine_df.tweet_stemmed])
    X_train_tfidf_vec_st_ =  tf_vec_st_.transform(X_train)
    X_valid_tfidf_vec_st_ =  tf_vec_st_.transform(X_valid)
    clf_tfidf_st_ = LogisticRegression(max_iter=200)
    clf_tfidf_st_.fit(X_train_tfidf_vec_st_, y_train)
    preds_tfidf_st_ = clf_tfidf_st_.predict(X_valid_tfidf_vec_st_)
    result_list.append({'max_features': max_features,
                        'max_df': max_df, 'min_df': min_df, 
                        'vect_type': 'tfidf_stemmed', 
                        'accuracy': accuracy_score(y_valid, preds_tfidf_st_)})
    
    tf_vec_lm_ = TfidfVectorizer(max_df=max_df, max_features=max_features, 
                                 min_df=min_df, stop_words='english')
    tf_vec_lm_.fit([' '.join(sent) for sent in combine_df.tweet_lemmatized])
    X_train_tfidf_vec_lm_ =  tf_vec_lm_.transform(X_train)
    X_valid_tfidf_vec_lm_ =  tf_vec_lm_.transform(X_valid)
    clf_tfidf_lm_ = LogisticRegression(max_iter=200)
    clf_tfidf_lm_.fit(X_train_tfidf_vec_lm_, y_train)
    preds_tfidf_lm_ = clf_tfidf_lm_.predict(X_valid_tfidf_vec_lm_)
    result_list.append({'max_features': max_features,
                        'max_df': max_df, 'min_df': min_df, 
                        'vect_type': 'tfidf_lemmatized', 
                        'accuracy': accuracy_score(y_valid, preds_tfidf_lm_)})

Wall time: 4min 6s

In [22]:
import json

In [34]:
with open('result_list.json', 'w') as f:
    json.dump(result_list, f)

In [35]:
result_df = pd.DataFrame(result_list)
result_df.head()

   max_features  max_df  min_df         vect_type  accuracy
0           500     0.8       1     count_stemmed    0.7052
1           500     0.8       1  count_lemmatized    0.7308
2           500     0.8       1     tfidf_stemmed    0.7200
3           500     0.8       1  tfidf_lemmatized    0.7348
4           500     0.8       2     count_stemmed    0.7052

In [36]:
result_df.iloc[np.argmax(result_df.accuracy)]

max_features                5000
max_df                       0.8
min_df                         2
vect_type       count_lemmatized
accuracy                  0.8372
Name: 77, dtype: object

In [38]:
result_df.loc[result_df.accuracy == 0.8372, :]

     max_features  max_df  min_df         vect_type  accuracy
77           5000     0.8       2  count_lemmatized    0.8372
79           5000     0.8       2  tfidf_lemmatized    0.8372
161          5000     0.9       2  count_lemmatized    0.8372
163          5000     0.9       2  tfidf_lemmatized    0.8372
245          5000     1.0       2  count_lemmatized    0.8372
247          5000     1.0       2  tfidf_lemmatized    0.8372

In [43]:
tf_vec_lm = TfidfVectorizer(max_df=0.8, max_features=5000, 
                             min_df=2, stop_words='english')
tf_vec_lm.fit([' '.join(sent) for sent in combine_df.tweet_lemmatized])
X_train_tfidf_vec_lm =  tf_vec_lm.transform(X_train)
X_valid_tfidf_vec_lm =  tf_vec_lm.transform(X_valid)
clf_tfidf_lm = LogisticRegression(max_iter=200)
clf_tfidf_lm.fit(X_train_tfidf_vec_lm, y_train)
preds_tfidf_lm = clf_tfidf_lm.predict(X_valid_tfidf_vec_lm)
accuracy_score(y_valid, preds_tfidf_lm)

0.8372

In [40]:
from sklearn.decomposition import PCA

In [50]:
pca_ = PCA(n_components=500)

In [51]:
X_train_tfidf_vec_lm_pca = pca_.fit_transform(X_train_tfidf_vec_lm.toarray())
X_valid_tfidf_vec_lm_pca = pca_.transform(X_valid_tfidf_vec_lm.toarray())
print(f'Before PCA: {X_train_tfidf_vec_lm.shape}, after PCA: {X_train_tfidf_vec_lm_pca.shape}')

Before PCA: (7500, 5000), after PCA: (7500, 500)

In [52]:
clf_tfidf_lm_pca = LogisticRegression(max_iter=200)
clf_tfidf_lm_pca.fit(X_train_tfidf_vec_lm_pca, y_train)
preds_tfidf_lm_pca = clf_tfidf_lm_pca.predict(X_valid_tfidf_vec_lm_pca)
accuracy_score(y_valid, preds_tfidf_lm_pca)

0.8232

In [54]:
n_components_list = [100, 300, 500, 800, 1000]

In [55]:
%%time
pca_results = []
for n_components in n_components_list:
    pca_ = PCA(n_components=n_components)
    X_train_tfidf_vec_lm_pca_ = pca_.fit_transform(X_train_tfidf_vec_lm.toarray())
    X_valid_tfidf_vec_lm_pca_ = pca_.transform(X_valid_tfidf_vec_lm.toarray())
    clf_tfidf_lm_pca_ = LogisticRegression(max_iter=200)
    clf_tfidf_lm_pca_.fit(X_train_tfidf_vec_lm_pca_, y_train)
    preds_tfidf_lm_pca_ = clf_tfidf_lm_pca_.predict(X_valid_tfidf_vec_lm_pca_)
    pca_results.append({'n_components': n_components,
                       'accuracy': accuracy_score(y_valid, preds_tfidf_lm_pca_)})

Wall time: 26.2 s

In [56]:
with open('pca_results.json', 'w') as f:
    json.dump(pca_results, f)

In [57]:
pca_df = pd.DataFrame(pca_results)
pca_df.head()

   n_components  accuracy
0           100    0.8004
1           300    0.8284
2           500    0.8228
3           800    0.8264
4          1000    0.8292